<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h1>TastyApp v{{version}}</h1>
</div>

<div class="row">
  <form ng-submit="addRecipe()">
    <input type="text" ng-model="name" name="name" style="width:30em" />
    <input type="submit" value="Add Recipe" />
  </form>
</div>

<div class="row">
  <h2>Recipes</h2>
  <ul ng-repeat="recipe in recipes">
    <li><a href="/#/recipe/{{recipe.name}}">{{recipe.name}}</a></li>
  </ul>
</div>
